/* general */
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
}


/* header */
h3{
    color: #2c3e50;
}
header{
    height: 114px;
    width: 100%;
    display: flex;
    background-color: #3D5BA1;
    align-items: center;
    justify-content: center;
}
.header{
    height: 114px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 86px;
    padding-left: 78px;
}
.header-menu{
    width: 45px;
    height: 24.21px;
}
.header-menu-img{
    align-items: center;
    width: 100%;
    height: 100%;

}
.header-logo{
    margin-left: 10%;
}
.logow3{
    width: 300px;
    height: 60.41px;
}
.header-social{
    display: flex;
    width: 225px;
    height: 34.3px;
    justify-content: space-between;
}
.social{
    display: flex;
    width: 90px;
    height: 34.3px;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    font-size: 12px;
    padding-left: 9px;
}
.img{
    width: 20px;
    height: 20.18px;
    padding-right: 8px;
}
.carousel{
    width: 100%;
    height: 445px;
    margin-top: 10px;
}
nav{
    max-width: 1420px;
    width: 100%;
    background-color: #ecf0f1;
    padding: 76px;
}
.news-one{
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
.box-news-cacildis{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-news-cacildis-p p{
    background-color: rgba(255, 30, 0, 0.637);
    float: left;
    position: relative;
    margin-top: 150px;
    margin-right: -200px;
    padding: 10px;
    color: white;
}
.news-two-containe{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.news-two{
    width: 791px;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    flex-direction: column;
}
.nav-containe{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.porris-news h3{
    width: 70%;
}
.porris-news{
    width: 66%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}
h4{
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
.img-porris{
    width: 360px;
    height: auto;
    background-color: #f1f1f1;
    padding-bottom: 30px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 30px;
}
.img-porris img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;

}
h4{
    color: #2980b9;
    margin-bottom: 8px;
}
.news-tree-container{
    display: flex;
}
.porris-publicity{
    width: 28%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-self: end;
    position: absolute;
}
.porris-publicity img{
    width: 100%;
    margin-top: 10px;
}
.news-publicity-2{
    display: none;
}
.news-tree{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-tree-mussum{
    width: 375px;
    display: flex;
    flex-direction: column;
}
.news-tree-mussum-ipsum{
    padding-bottom: 25px;
    border-bottom: 1px solid #D3D3D3;
    padding-top: 15px;
    margin-right: 10px;
}
.news-tree-mussum-ipsum span{
    display: flex;
    flex-direction: column;
}
.pirulita{
    margin-left: 30px;
    padding-left: 10px;
}
.pirulita h2{
    color: #e74c3c;
}
.news-tree-mussum-pirulirta h5{
    color: #e74c3c;
}

.news-tree-mussum h2{
    color: #1fa4e9;
}
.news-tree-mussum-pirulirta{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.news-tree-mussum-pirulirta img{
    margin-right: 20px;
}

/* footer */
footer{
    display: flex;
    width: 100%;
    height: 143px;
    flex-direction: column;
    background: #2c3e50;
    justify-content: center;
    align-items: center;
}
.footer-une{
    width: 100%;
    height: 48px;
    background-color: #3D5BA1;
}
.footer-two{
    display: flex;
    width: 100%;
    height: 95px;
    max-width: 1120px;
    top: 2557px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 78px;
    padding-right: 78px;
}
.span{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 12pt;
}
.footer-logow3{
    width: 150px;
    height: 30.21px;
}
/* midia para tablet */
@media screen and (max-width: 820px) and (min-width: 374px)  {
    body{
        max-width: 820px;
    }
    /* header */
    header{
        width: 820px;
        padding: 0;
    }
    .header{
        margin-right: 38px;
        margin-left: 42px;
    }
    .header-menu{
        width: 35px;
        height: 24.21px;
    }
    .logow3{
        width: 200px;
        height: 39px;
    }
    .social{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social span{
        display: none;
    }
    .header-social{
        width: 120px;
        height: 40px;
    }
    /* nav */
    nav{
        width: 820px;
        align-items: center;
        justify-content: center;
        padding: 46px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .nav-containe{
        max-width: 720px;
        height: 1800px;
    }
    .carousel{
        width: 710px;
        margin: auto;
        height: 280px;
    }
    .news-one{
        width: 720px;
        margin: auto;
        margin-top: 50px;
    }

    .box-news-cacildis-p p{
        margin-top: 90px;
    }
    .news-one h3{
        display: none;
    }
    .box-news-cacildis-p img{
        width: 230px;
    }
    .news-two{
        max-width: 720px;
        margin: auto;
    }
    .porris-news{
        width: 100%;
    }
    .img-porris{
        width: 48%;
    }
    .news-publicity-2{
        display: inline;
    }
    .news-publicity-1{
        display: none;
    }
    .porris-publicity{
        position: relative;
        margin-top: -400px;
        margin-right: 20px;
        width: 300px;
    }
    .news-tree-container{
        flex-wrap: wrap;
        width: 720px;
    }
    .news-tree-mussum{
        width: 340px;
    }
    .dow{
        margin: 0;
        padding: 0;
    }

    /* footer */
    .footer-two{
        max-width: 820px;
        padding: 0;
    }
    .span span{
        font-size: 10px;
        margin-left: 42px;
    }
    .footer-logow3{
        margin-right: 59px;
    }
}
@media screen and (max-width: 373px) {
    
}